[Desktop Entry]
Type=Application
Name=Fleck
Comment=Open your sticky notes
Exec=fleck --applet
Icon=accessories-text-editor-symbolic
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Notes;Sticky;
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
