[Desktop Entry]
Type=Application
Name=Fleck
Comment=Sticky notes for the COSMIC desktop
Exec=fleck
Icon=io.github.joelebukatobi.Fleck
Categories=Utility;
Terminal=false
StartupNotify=true
